# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
src/.ipynb_checkpoints/

# Data files (raw & processed; keep these out of Git)
data/
